<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
         <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% load staticfiles %}
    <link rel="stylesheet" type = "text/css" href="{% static 'AccountsHome.css' %}">
</head>

<body>
<h1 align="center"> Admin Homepage </h1>

<ul>
 <li> <a class="active" href="/administrator">Home</a></li>
 <li> <a href="#news">Contact</a></li>
  <li><div class="dropdown">
    <button class="dropbtn">Functions
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Create Courses</a>
      <a href="#">Create Accounts</a>
      <a href="#">Delete Accounts</a>
        <a href="#">Delete Accounts</a>
        <a href="#">Edit Accounts</a>
            <a href="#">Send Out Notifications</a>
            <a href="#">Access All Data in the system</a>

    </div>
</div> </li>
    <li style="float:right"><a href="/login/">Logout</a></li>
</ul>
</body>
</html>