<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
         <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% load staticfiles %}
    <link rel="stylesheet" type = "text/css" href="{% static 'AccountsHome.css' %}">
</head>

<body>
<h1 align="center"> Admin Homepage </h1>

<ul>
 <li> <a class="active" href="/administrator">Home</a></li>
 <li> <a href=" ">Contact</a></li>
  <li><div class="dropdown">
    <button class="dropbtn">Accounts
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/createaccount">Create Accounts</a>
      <a href="/deleteaccount">Delete Accounts</a>
        <a href="/editpubinfo">Edit Accounts</a>
    </div>
</div> </li>
 <li> <a href=" ">Create Course</a></li>
     <li> <a href=" ">Create Course</a></li>
     <li> <a href=" ">Send Out Notifications</a></li>
    <li> <a href=" ">Access All Data </a></li>

    <li style="float:right"><a href="/login/">Logout</a></li>
</ul>
</body>
</html>