<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% load staticfiles %}
    <link rel="stylesheet" type = "text/css" href="{% static 'AccountsHome.css' %}">
</head>
<body>
<h1 align="center" id="heading"> {{ account }}'s Homepage </h1>

<ul>
 <li> <a class="active" href="/instructor">Home</a></li>
 <li> <a href=" ">Contact</a></li>
  <li><div class="dropdown">
    <button class="dropbtn"> Account Option
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
        <a href="/editpubinfo">Edit Contact Information</a>
    </div>
</div> </li>


      <li><div class="dropdown">
    <button class="dropbtn"> Course Options
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
             <a href="/courseassignments">View Course Assignments</a>
             <a href=" ">Assign TAs to Lab(under construction)</a>
    </div>
</div> </li>


    <li><div class="dropdown">
    <button class="dropbtn"> Accesses
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
        <a href=" ">Send out notifications(under construction)</a>
          <a href="/directory">Read Public contact Information</a>
    </div>
</div> </li>
    <li style="float:right"><a href="/logout/">Logout</a></li>
</ul>

<div id="cp_widget_50966fa2-b9b7-4b55-ba7d-a8ad73d028a0">...</div><script type="text/javascript">
var cpo = []; cpo["_object"] ="cp_widget_50966fa2-b9b7-4b55-ba7d-a8ad73d028a0"; cpo["_fid"] = "A4MAafeBqTcw";
var _cpmp = _cpmp || []; _cpmp.push(cpo);
(function() { var cp = document.createElement("script"); cp.type = "text/javascript";
cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
var c = document.getElementsByTagName("script")[0];
c.parentNode.insertBefore(cp, c); })(); </script><noscript><span>New Gallery 2019/4/27</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 1000</span><span>height</span><span> 500</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 1000</span><span>height</span><span> 500</span></noscript>


<div class="footer">
 <p><a href="https://www.privacypolicies.com/terms/view/3a9238a8e75c5b1a4781b6943050b5ba">Terms &amp; Conditions</a> |
     <a href="https://www.freeprivacypolicy.com/privacy/view/fc644ffe566aa94a849d41b931443727">Privacy Policy</a> |
     <a href=" ">Contact</a></p>
        		<p>Copyright &copy; ByteMe 2019 </p>
</div>

</body>
</html>