<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
ul {
  padding: 0;
  overflow: hidden;
  margin: 0;
  background-color: #312f33;
  list-style-type: none;
}

li {
  float: left;
  border-right:2px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
    color: #fffe31;
    text-align: center;
    padding: 20px 24px;
    display: block;
    text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #3d35ff;
}

.active {
  background-color: #a329af;
}
</style>
<body>
<h1 align="center"> {{ account }}'s Homepage! </h1>
<ul>
    <li><a class="active" href="/directory">View Public Information</a></li>
    <li><a class="/editpubinfo" href=" ">Edit My Contact Information</a></li>
    <li><a href="/ta">Home</a></li>
    <li style="float:right"><a href="/login/">Logout</a></li>

</ul>
</body>
</html>