{% extends base %}
{% load static %}

{% block header %}
<h1 align="center" id="heading"> {{ account }}'s Homepage! </h1>
{% endblock %}

{% block content %}<br>
    <div class="sns">
  <a href="https://www.facebook.com/byt.eme.585" class="facebook"><i class="fa fa-facebook"></i></a>
  <a href="https://twitter.com/ByteMe02881764" class="twitter"><i class="fa fa-twitter"></i></a>
  <a href="https://www.instagram.com/uwmilwaukee/?hl=en" class="instagram"><i class="fa fa-instagram"></i></a>
  <a href="https://www.youtube.com/user/uwmnews" class="youtube"><i class="fa fa-youtube"></i></a>
</div>

<div class="content">
</div>

<div id="cp_widget_5f244a2e-25b3-4918-8e63-75cf30c77329">...</div><script type="text/javascript">
var cpo = []; cpo["_object"] ="cp_widget_5f244a2e-25b3-4918-8e63-75cf30c77329"; cpo["_fid"] = "A4DA-ie_AcV4";
var _cpmp = _cpmp || []; _cpmp.push(cpo);
(function() { var cp = document.createElement("script"); cp.type = "text/javascript";
cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
var c = document.getElementsByTagName("script")[0];
c.parentNode.insertBefore(cp, c); })(); </script><noscript><span>New Gallery 2019/5/6</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 1000</span><span>height</span><span> 500</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 1000</span><span>height</span><span> 500</span></noscript>


<div class="footer">
 <p><a href="https://www.privacypolicies.com/terms/view/3a9238a8e75c5b1a4781b6943050b5ba">Terms &amp; Conditions</a> |
     <a href="https://www.freeprivacypolicy.com/privacy/view/fc644ffe566aa94a849d41b931443727">Privacy Policy</a>
        		<p>Copyright &copy; ByteMe 2019 </p>
</div>
{% endblock %}



