{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assign User to Lab Section</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type = "text/css" href="{% static 'background.css' %}">
        <link rel="stylesheet" type = "text/css" href="{% static 'accountsHome.css' %}">

    <h1>Assign a User to a Course Section</h1>
    <h3>Choose a user and section number.</h3>

</head>
<body>


<ul>
 <li> <a class="active" href="javascript:history.go(-1)">Home</a></li>
 <li> <a href=" ">Contact</a></li>
    <li style="float:right"><a href="/logout/">Logout</a></li>
</ul>

<br>
<br>


<form method="post" action="/assignsection/">
  {%csrf_token%}
<select name="account">
    {%for i  in accountList %}
        <option name="account" value="{{ i.userName }}">{{ i }}</option>
    {% endfor %}
</select>
<select name="section">
    {%for i  in sectionList %}
        <option name="section" value="{{ i.number }}">{{ i }}</option>
    {% endfor %}
</select>
    <input type="submit"/><br>
    <p>{{ message }}</p>

  </form>
{% if i.title == 4%}<a href="/supervisor">Supervisor Home</a>
{% endif %}
{% if i.title == 2 %}<a href="/instructor">Instructor Home</a> {% endif %}

</body>
</html>