{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assign TA to Lab Section</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type = "text/css" href="{% static 'assignTASection.css' %}">

    <h1>Assign a TA to a Lab Section</h1>

</head>
<body>
<form method="post" action="/assignTASection/">
  {%csrf_token%}
<select name = "username">
    {%for i  in taList %}
        <option value={{ i.username }}>{{ i }}</option>
    {% endfor %}
</select>
<select name = "section">
    {%for i  in sectionList %}
        <option value={{ i.name }}>{{ i }}</option>
    {% endfor %}
</select>
    <input type="submit"/><br>
    <p>{{ message }}</p>

  </form>
</body>
</html>