{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assign TA to Course</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type = "text/css" href="{% static 'background.css' %}">
        <link rel="stylesheet" type = "text/css" href="{% static 'accountsHome.css' %}">

     <h1 id="heading">Assign a TA to a Course</h1>

</head>
<body>


<ul>
 <li> <a class="active" href="javascript:history.go(-1)">Home</a></li>
 <li> <a href=" ">Contact</a></li>
    <li style="float:right"><a href="/logout/">Logout</a></li>
</ul>

<br>
<br>


<form method="post" action="/assigntacourse/">
  {%csrf_token%}
<select name = "username">
    {%for i  in taList %}
        <option value="{{ i.userName }}">{{ i }}</option>
    {% endfor %}
</select>
<select name = "course">
    {%for i  in courseList %}
        <option value="{{ i.name }}">{{ i }}</option>
    {% endfor %}
</select>
    <input type="submit"/><br>
    <p>{{ message }}</p>

  </form>
<a href="/supervisor">Supervisor Home</a>
</body>
</html>