{% extends base %}
{% load static %}

{% block header %}
<h1 id="heading">Assign an Instructor to a Course</h1>
{% endblock %}

{% block content %}<br>
     <link rel="stylesheet" type="text/css" href="{% static 'background.css' %}">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <form method="post" action="/assigninstructor/">
    {% csrf_token %}

    <div class="box">

        <select name="username">
            {% for i  in instList %}
                <option value="{{ i.userName }}">{{ i }}</option>
            {% endfor %}
        </select>
<div class="box">
        <select name="course">
            {% for i  in courseList %}
                <option value="{{ i.name }}">{{ i }}</option>
            {% endfor %}
        </select>
    </div>
    </div>

    <br>
    <br>
    </div>
    <input type="submit" class="btn"/><br>
    <p>{{ message }}</p>
</form>
{% endblock %}

