{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assign Instructor to a Course</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type = "text/css" href="{% static 'assignInstructor.css' %}">

    <h1>Assign an Instructor to a Course</h1>

</head>
<body>
<form method="post" action="/assigninstructor/">
  {%csrf_token%}
<select name = "username">
    {%for i  in instList %}
        <option value={{ i.username }}>{{ i }}</option>
    {% endfor %}
</select>
<select name = "course">
    {%for i  in courseList %}
        <option value={{ i.name }}>{{ i }}</option>
    {% endfor %}
</select>
    <input type="submit"/><br>
    <p>{{ message }}</p>

  </form>
</body>
</html>