{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assign TA to Lab Section</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type = "text/css" href="{% static 'background.css' %}">
        <link rel="stylesheet" type = "text/css" href="{% static 'accountsHome.css' %}">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <h1 id="heading">Assign a TA to a Lab Section</h1>

</head>
<body>


<ul>
 <li> <a class="active" href="javascript:history.go(-1)">Home</a></li>
 <li> <a href=" ">Contact</a></li>
    <li style="float:right"><a href="/logout/">Logout</a></li>
</ul>

<br>
<br>


<form method="post" action="/assignTaSection/">
  {%csrf_token%}

<div class="box">

<select name = "username">
    {%for i  in taList %}
        <option value={{ i.username }}>{{ i }}</option>
    {% endfor %}
</select>
<select name = "section">
    {%for i  in sectionList %}
        <option value={{ i.name }}>{{ i }}</option>
    {% endfor %}
</select>
</div>

<br>
<br>
<br>
<br>

      <input type="submit" class="btn"/><br>
    <p>{{ message }}</p>

  </form>
</body>
</html>