{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Course Assignments</title>
      {% load staticfiles %}
    <link rel="stylesheet" type = "text/css" href="{% static 'courseAssignmentList.css' %}">
        <link rel="stylesheet" type = "text/css" href="{% static 'accountsHome.css' %}">
</head>
<body>
<h1 id="heading">Course Assignments</h1>

<ul>
 <li>
     {%if i.title == 1 %}<a href="/ta/">Home</a>{% endif %}
     {% if i.title == 2 %}<a href="/instructor/">Home</a>{% endif %}
     {% if i.title == 3 %}<a href="/administrator/">Home</a>{% endif %}
     {% if i.title == 4 %}<a href="/supervisor/">Home</a>{% endif %}
 </li>
     <!--<a class="active" href="javascript:history.go(-1)">Home</a></li>-->
    <li style="float:right"><a href="/logout/">Logout</a></li>
</ul>

<br>
<br>


{% for i in courseList %}
    <table>
    <thread>
        <tr class="midCell2">
            <th colspan="4">{{ i.name }} CS{{ i.number }}</th>
        </tr>
        <tr>
        <td colspan="2" class="topCell">
            <strong>Instructors:</strong><br>
            <!--Figure out how get the instructors to list here -->
            {% for j in accountList %}
            {% if j.Course.name == i.name and j.Account.title == 2%}
                {{ j.Account }}<br>
            {% endif %}
            {% endfor %}
        </td>
        <td colspan="2" class="topCell">
            <strong>Teaching Assistants:</strong><br>
            <!--List Tas here -->
            {% for j in accountList %}
            {% if j.Course.name == i.name and j.Account.title == 1%}
                {{ j.Account }}<br>
            {% endif %}
            {% endfor %}
        </td>
        </tr>
            {% for p in sectionList %}
                {% if p.course.name == i.name %}
                <tr class="midCell2">
                <th>{{ p }}</th>
                <th>Start: {{ p.startTime }}</th>
                <th>End: {{ p.endTime }}</th>
                <th>Days: {{ p.meetingDays }}</th>
                <tr>
                {% for r in accountSec %}
                        {% if r.Section == p %}
                            <th class="midCell" colspan="4">{{ r.Account }}<br>
                        {% endif %}
                    {% endfor %}
                </tr>
                </tr>
                {% endif %}
                {% endfor %}
    </thread>
    </table><br>
{% endfor %}
</body>
</html>