{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type = "text/css" href="{% static 'createAccount.css' %}">


<ul>
 <li> <a class="active" href="/administrator">Home</a></li>
 <li> <a href=" ">Contact</a></li>
  <li><div class="dropdown">
    <button class="dropbtn"> Account Options
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
         <a href=" ">Create an Course(under construction)</a>
      <a href="/createaccount">Create an Account</a>
      <a href="/deleteaccount">Delete an Account</a>
        <a href="/editpubinfo">Edit an Account</a>
    </div>
</div> </li>
 <li><div class="dropdown">
    <button class="dropbtn"> Accesses
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
         <a href=" ">Send Out Notifications(under construction)</a>
      <a href=" ">Access All Data(under construction)</a>
    </div>
</div> </li>


    <li style="float:right"><a href="/logout/">Logout</a></li>
</ul>

</head>
<body>
    <h1>Create an Account</h1>
<p1>
<form method="post" action="/createaccount/">
  {%csrf_token%}

      First Name:
    <input type="text" name="firstname" id="firstname" required/><br>
        Last Name:
    <input type="text" name="lastname" id="lastname" required/><br>
        UserName:
    <input type="text" name="username" id="username" required/><br>
        Email:
    <input type="email" name="email" id="email" required/><br>

    <input type="radio" name="title" value="TA"  checked>TA<br>
    <input type="radio" name="title" value="Instructor">Instructor<br>
    <input type="submit"/><br>
    <p>{{ message }}</p>

  </form>
</p1>
</body>
</html>