{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Course</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
       <link rel="stylesheet" type = "text/css" href="{% static 'background.css' %}">
        <link rel="stylesheet" type = "text/css" href="{% static 'accountsHome.css' %}">
</head>
<body>


<h1 id="heading">Create A Course</h1>

<ul>
 <li> <a class="active" href="javascript:history.go(-1)">Home</a></li>
    <li style="float:right"><a href="/logout/">Logout</a></li>
</ul>


<br>
<br>


<form method="post" action="/createcourse/">
  {%csrf_token%}
   <table>
       <TR class="cell1">
           <TD>Course Name</TD>
           <TD><input type="text" name="name"  required/></TD>
       </TR>
       <TR class="cell2">
           <TD>Course Number</TD>
           <TD><input type="text" name="number" required/></TD>
       </TR>
       <TR class="cell1">
           <TD><input type ="radio" name="onCampus" value="campus"/>On Campus</TD>
           <TD><input type ="radio"name="onCampus" value="online"/>Online</TD>
       </TR>
      <!-- <TR class="cell2">
           <TD>Days</TD>
           <TD><input type="text" name="days" required/></TD>
       </TR>
       <TR class="cell1">
           <TD>Start Time</TD>
           <TD> <input type ="text" name="start" required/></TD>
       </TR>
       <TR class="cell2">
           <TD>End Time</TD>
           <TD><input type="text" name="end" required/></TD>
       </TR> -->
   </table>
<p><input type="submit" class="btn"/></p>
  </form>
 <p class="blinking">{{ message }}</p>
{% if editor.title == 3 %}<a href="/administrator">Admin Home</a>
{% endif %}
{% if editor.title == 4 %}<a href="/supervisor">Supervisor Home</a>
{% endif %}
</body>
</html>