{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type = "text/css" href="{% static 'background.css' %}">
        <link rel="stylesheet" type = "text/css" href="{% static 'accountsHome.css' %}">

    <h1>Delete an Account</h1>

</head>
<body>


<ul>
 <li> <a class="active" href="javascript:history.go(-1)">Home</a></li>
 <li> <a href=" ">Contact</a></li>
    <li style="float:right"><a href="/logout/">Logout</a></li>
</ul>

<br>
<br>


<form method="post" action="/deleteaccount/">
  {%csrf_token%}
<select name = "username">
    {%for i  in stafflist %}
        <option name="username" id="username" value="{{ i.userName }}">{{ i }}</option>
    {% endfor %}
</select>
    <input type="submit"/><br>
    <p>{{ message }}</p>

</form>

{% if i.title == 3 %}
    <a href="/administrator">Admin Home</a>
{% else %}
    <a href="/supervisor">Supervisor Home</a>
{% endif %}


</body>
</html>