{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type = "text/css" href="{% static 'deleteAccount.css' %}">


<ul>
 <li> <a class="active" href="/administrator">Home</a></li>
 <li> <a href=" ">Contact</a></li>
  <li><div class="dropdown">
    <button class="dropbtn"> Account Options
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
         <a href=" ">Create an Course(under construction)</a>
      <a href="/createaccount">Create an Account</a>
      <a href="/deleteaccount">Delete an Account</a>
        <a href="/editpubinfo">Edit an Account</a>
    </div>
</div> </li>
 <li><div class="dropdown">
    <button class="dropbtn"> Accesses
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
         <a href=" ">Send Out Notifications(under construction)</a>
      <a href=" ">Access All Data(under construction)</a>
    </div>
</div> </li>


    <li style="float:right"><a href="/logout/">Logout</a></li>
</ul>

    <h1>Delete an Account</h1>

</head>
<body>
<form method="post" action="/deleteaccount/">
  {%csrf_token%}
<select name = "username">
    {%for i  in stafflist %}
        <option value={{ i.username }}>{{ i }}</option>
    {% endfor %}
</select>
    <input type="submit"/><br>
    <p>{{ message }}</p>

  </form>
</body>
</html>