{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Directory</title>
    <link rel="stylesheet" type = "text/css" href="{% static 'courseAssignmentList.css' %}">
        <link rel="stylesheet" type = "text/css" href="{% static 'accountsHome.css' %}">
</head>
<body>
<h1 id="heading">Directory</h1><br>


<ul>
 <li> <a class="active" href="javascript:history.go(-1)">Home</a></li>
 <li> <a href=" ">Contact</a></li>
    <li style="float:right"><a href="/logout/">Logout</a></li>
</ul>

<br>
<br>


{% for j in directory %}
 <table>
    <thread>
        <tr class="topCell">
            <th colspan="3">{{ j }} </th>
            <th>{{ j.displayTitle }}</th>
        </tr>
    <tr class="midCell">
        <th > Email: {{ j.email }}: </th>
        <th colspan="4">Home Phone:
        {% if  i.title < 3 %}
                Redacted<br>
            {% endif %}
            {%  if i.title >= 3 %}
                {{ j.homePhone }}<br>
            {% endif %}
        </th>
    </tr>
        <tr>
        <td colspan="2">
            <strong>Address:</strong><br>
            {% if  i.title < 3 %}
                Redacted<br>
            {% endif %}
            {%  if i.title >= 3 %}
                {{ j.address }}<br>
                {{ j.city }} {{ j.state }} {{ j.zipCode }}<br>
            {% endif %}
        </td>
        <td colspan="2">
            <strong>Something:</strong><br>

        </td>
        </tr>
        <tr>

        </tr>
    </thread>
    </table><br>

{% endfor %}

{%  if i.title == 1 %}<a href="/ta/">TA Home</a>
{% endif %}
{% if i.title == 2 %}<a href="/instructor/">Instructor Home</a>
{% endif %}
{% if i.title == 3 %}<a href="/administrator/">Admin Home</a>
{% endif %}
{% if i.title == 4 %}<a href="/supervisor/">Supervisor Home</a>
{% endif %}
</body>
</html>