<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Information</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
     {% load staticfiles %}
     <link rel="stylesheet" type = "text/css" href="{% static 'background.css' %}">
        <link rel="stylesheet" type = "text/css" href="{% static 'accountsHome.css' %}">

</head>
<body>
<h1 id="heading">Edit Information</h1>


<ul>
 <li> <a class="active" href="javascript:history.go(-1)">Home</a></li>
 <li> <a href=" ">Contact</a></li>
    <li style="float:right"><a href="/logout/">Logout</a></li>
</ul>

<br>
<br>


<form method="post" action="/editpubinfo/">
  {%csrf_token%}

<table>
       <TR class="cell1">
           <TD>User Name</TD>
           <TD><input type="text" name="username" value="{{ i.userName }}" required/></TD>
       </TR>
       <TR class="cell2">
           <TD>First Name</TD>
           <TD><input type="text" name="firstname" value="{{i.firstName }}" required/></TD>
       </TR>
       <TR class="cell1">
           <TD>Last Name</TD>
           <TD><input type="text" name="lastname" value="{{ i.lastName }}" required/></TD>
       </TR>
       <TR class="cell2">
           <TD>Email</TD>
           <TD><input type="email" name="email"  value="{{ i.email }}" required/></TD>
       </TR>
       <TR class="cell1">
           <TD>Password</TD>
           <TD> <input type ="text" name="password" value="{{ i.password }}" required/></TD>
       </TR>
     <TR class="cell2">
           <TD>Home Phone</TD>
           <TD> <input type ="text" name="homephone" value="{{ i.homePhone }}" required/></TD>
       </TR>
     <TR class="cell1">
           <TD>Address</TD>
           <TD> <input type ="text" name="address" value="{{ i.address }}" required/></TD>
       </TR>
     <TR class="cell2">
           <TD>City</TD>
           <TD> <input type ="text" name="city" value="{{ i.city }}" required/></TD>
       </TR>
     <TR class="cell1">
           <TD>State</TD>
           <TD> <input type ="text" name="state" value="{{ i.state }}" required/></TD>
       </TR>
     <TR class="cell2">
           <TD>Zip Code</TD>
           <TD> <input type ="text" name="zipcode" value="{{ i.zipCode }}" required/></TD>
       </TR>
     <TR class="cell1">
           <TD>Office Number</TD>
           <TD> <input type ="text" name="officenumber" value="{{ i.officeNumber }}" required/></TD>
       </TR>
     <TR class="cell2">
           <TD>Office Phone</TD>
           <TD> <input type ="text" name="officephone" value="{{ i.officePhone }}" required/></TD>
       </TR>
     <TR class="cell1">
           <TD>Office Days</TD>
           <TD> <input type ="text" name="officedays" value="{{ i.officeDays }}" required/></TD>
       </TR>
     <TR class="cell2">
           <TD>Office Hours Start</TD>
           <TD> <input type ="text" name="officestart" value="{{ i.officeHoursStart }}" required/></TD>
       </TR>
     <TR class="cell1">
           <TD>Office Hours End</TD>
           <TD> <input type ="text" name="officeend" value="{{ i.officeHoursEnd }}" required/></TD>
       </TR>
   </table>
    <input class="btn" type="submit"/><br>
   <!--  <p><label for="username">User Name:</label>
         <input type="text" name="username" id="username" value="{{ i.userName }}" readonly></p>
     <p><label for="firstname">First Name:</label>
         <input type="text" name="firstname" id = "firstname" value="{{i.firstName }}"></p>
     <p><label for="lastname">Last Name:</label>
         <input type="text" name="lastname" id="lastname"  value="{{ i.lastName }}"></p>
     <p><label for="email">Email:</label>
         <input type="text" name="email" id="email" value="{{ i.email }}"></p>
     <p><label for="password">Password:</label>
         <input type="text" name="password" id="password" value="{{ i.password }}"></p>
     <p><label for="homephone">Home Phone:</label>
         <input type="text" name="homephone" id="homephone" maxlength="12" value="{{ i.homePhone }}"></p>
     <p><label for="address">Address:</label>
         <input type="text" name="address" id="address" value="{{ i.address }}"></p>
     <p><label for="city">City:</label>
         <input type="text" name="city" id="city" value="{{ i.city }}"></p>
     <p>State: <input type="text" name="state" id="state" value="{{ i.state }}"></p>
     <p>ZipCode: <input type="text" name="zipcode" id="zipcode" maxlength="5" value="{{ i.zipCode }}"></p>
     <p>Office Number: <input type="text" name="officenumber" id="officenumber" maxlength="3" value="{{ i.officeNumber }}"></p>
     <p>Office Phone: <input type="text" name="officephone" id="officephone" maxlength="12" value="{{ i.officePhone }}"></p>
     <p>Office Days: <input type="text" name="officedays" id="officedays" value="{{ i.officeDays }}"></p>
     <p>Office Hours Start Time: <input type="text" name="officestart" id="officestart" maxlength="4" value="{{ i.officeHoursStart }}"></p>
     <p>Office Hours End Time: <input type="text" name="officeend" id="officeend" maxlength="4" value="{{ i.officeHoursEnd }}"></p>

    <input type="submit"/><br> -->
    <p>{{ message }}</p>
    {% for key, value in dict %}
        <p>{{ key }}{{ value }}</p>
    {% endfor %}


</form>

{%  if editor.title == 1 %}<a href="/ta">TA Home</a>
{% endif %}
{% if editor.title == 2 %}<a href="/instructor">Instructor Home</a>
{% endif %}
{% if editor.title == 3 %}<a href="/administrator">Admin Home</a>
{% endif %}
{% if editor.title == 4 %}<a href="/supervisor">Supervisor Home</a>
{% endif %}
</body>
</html>
