{% extends base %}
{% load static %}

{% block header %}
<h1 id="heading">Edit Information</h1>
{% endblock %}

{% block content %}<br>
     <link rel="stylesheet" type = "text/css" href="{% static 'background.css' %}">
<table>
<p>{{ message }}</p>
{% for key,value in info.items %}
<TR class="cell1">
<TD>{{ key }}</TD>
<TD class="cell2">{{ value }}</TD>
</TR>
{% endfor %}
</table>


{% endblock %}

<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Pub Info </title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
     {% load staticfiles %}
     <link rel="stylesheet" type = "text/css" href="{% static 'background.css' %}">
        <link rel="stylesheet" type = "text/css" href="{% static 'accountsHome.css' %}">
</head>
<body>
<h1 id="heading">Edit Information</h1>
<ul>
 <li>
    {% if editor.title == 1 %} <a href="/ta">Home</a>{% endif %}
    {% if editor.title == 2 %}<a href="/instructor">Home</a>{% endif %}
    {% if editor.title == 3 %}<a href="/administrator">Home</a>{% endif %}
    {% if editor.title == 4 %}<a href="/supervisor">Home</a>{% endif %}
 </li>

    <li style="float:right"><a href="/logout/">Logout</a></li>
</ul>

<br>
<br>
<h1>{{ message }}</h1>
<table>
    {% for key,value in info.items %}
       <TR class="cell1">
           <TD>{{ key }}</TD>
           <TD class="cell2">{{ value }}</TD>
       </TR>
    {% endfor %}
   </table>


</body>

</html> ->