{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assign a User to Course Section</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type = "text/css" href="{% static 'background.css' %}">

    <h1>Assign a Uesr to a Course Section</h1>
    <h3>Choose a course.</h3>

</head>
<body>
<form method="post" action="/findCourse/">
  {%csrf_token%}
<select name = "course">
    {%for i  in courseList %}
        <option value={{ i.name }}>{{ i }}</option>
    {% endfor %}
</select>
    <input type="submit"/><br>
  </form>
{% if i.title == 4%}<a href="/supervisor">Supervisor Home</a>
{% endif %}
{% if i.title == 2 %}<a href="/instructor">Instructor Home</a> {% endif %}
</body>
</html>