{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
     <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type = "text/css" href="{% static 'login.css' %}">
</head>
<body>
<div class="form-box">
    <div class="head">SIGN IN</div>
 <form class="form" method="post" action="/login/", id="login-form"> <!--Its super important that action matches the url of the page-->
  {%csrf_token%}
      <div class="form-group">
          <label class="label-control">
            <span class="label-text">Username</span>
          </label>
  <input type="text" name="username" id ="username" placeholder="UserName" required/>
             </div>
       <div class="form-group">
          <label class="label-control">
            <span class="label-text">Password</span>
          </label>
    <input type="password" name="password" id ="password" placeholder="Password" required/>
       </div>
     <input type="submit" value="Login" class="btn" />
      <p class="error">{{ message }}</p>
     <input type="checkbox" name="remember"> Stay signed in
    </form>
  </div>
</body>
</html>


