{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
     <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type = "text/css" href="{% static 'login.css' %}">
</head>
<body>
 <form class="form" method="post" action="/login/"> <!--Its super important that action matches the url of the page-->
  {%csrf_token%}
     <!--<font size="15">User name:</font>-->
  <input type="text" name="username" id="username" placeholder="UserName" required/><br>
   <!--  <font size="15"> Password  :</font>-->
  <input type="password" name="password" id="password" placeholder="Password" required/><br>
  <input type="submit" value="Login" id="submit"/><br>
  </form><br>
 <p class="blinking">{{ message }}</p>
<p><b>Do you want to log in at the command line?</b></p>
   <a href=http://127.0.0.1:8000/command>Move to the command line page</a>
</body>
</html>