body, html {
    margin: 0;
    background-image: url("background.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

p {
    font-size: 18pt;
    white-space: pre-wrap;
}

table {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 300px;

}

.spin {
    animation: spinningText 4s;
}

@keyframes spinningText {
    0% {
        font-size: 800pt
    }
    100% {
        transform: rotate(360deg);
        font-size: 11pt
    }
}

.zoomL2 {
    animation: zoomLeft 1s;
}

.zoomR2 {
    animation: zoomRight 1s;
}

.zoomL {
    animation: zoomLeft 3s;
}

@keyframes zoomLeft {
    0% {
        transform: translate(-1000%, 0)
    }
    100% {
        transform: translate(0%, 0)
    }
}

.zoomR {
    animation: zoomRight 3s;
}

@keyframes zoomRight {
    0% {
        transform: translate(1000%, 0)
    }
    100% {
        transform: translate(0%, 0);
    }
}

.test {
    animation: test 2s;
}

@keyframes test {
    0% {
        opacity: 0;
    }
    100% {
        background-color: white;
        height: 100px;
        width: 300px
    }
}

.cell1 {
    background-color: powderblue;
}

.cell2 {
    background: pink;
}

#heading {
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    color: white;
    letter-spacing: 0.15em;
    text-shadow: 0 0 5px yellow,
    0 0 10px yellow,
    0 0 20px yellow,
    0 0 40px yellow,
    0 0 80px yellow,
    0 0 90px yellow,
    0 0 100px yellow,
    0 0 150px yellow;
}

.message {
    background-color: white;
    color: red;
}

.zoom {
    animation: fromLeft 3s;
}

@keyframes fromLeft {
    0% {transform: rotate(360deg);font-size: 800pt; white-space: nowrap;}
    100% {font-size: 18pt; white-space: nowrap;}
}

.blinking {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 300px;
    background-color: white;
    animation: blinkingText 0.8s infinite;
    font-weight: bolder;
    color: red;
}

@keyframes blinkingText {
    0% {
        color: red;
    }
    50% {
        color: transparent;
    }
    100% {
        color: red;
    }
}

input.btn[type="submit"] {
    background: #6498fe;
    border: none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3px;
    margin: 5px 0;
    outline: medium none;
    overflow: hidden;
    padding: 10px;
    text-transform: uppercase;
    transition: all 0.15s ease-in-out 0s;
    width: 200px;
    box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.16), 0 1px 2px 0px rgba(0, 0, 0, 0.23);
}

input.btn[type="submit"]:hover {
    background: #4b81eb;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.16), 0 2px 4px 0px rgba(0, 0, 0, 0.23);
}

.box {
    position: relative;

}

.box select {
    background: #312f33;
    color: #fffe31;
    padding: 10px;
    width: 300px;
    height: 50px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .5);
    -webkit-appearance: button;
    outline: none;
}

.box:before {
    content: '\f358';
    font-family: "Font Awesome 5 Free";
    position: relative;
    left: 303px;
    top: 9px;
    width: 50px;
    height: 50px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .5);
    line-height: 50px;
    color: #fffe31;
    font-size: 45px;
    text-align: center;
    pointer-events: none;
}

.box:hover:before {
    background: #0472ca;
}
