body, html {
  margin: 0;
    background-image: url("background.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

p{
    font-size: 20pt;
    white-space: pre-wrap;
}

table{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 300px;

}
.cell1
{
    background-color: powderblue;
}
.cell2
{
    background: pink;
}

#heading{
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    color: darkgreen;
    letter-spacing: 0.15em;
    text-shadow:
    0 0 5px yellow,
    0 0 10px yellow,
    0 0 20px yellow,
    0 0 40px yellow,
    0 0 80px yellow,
    0 0 90px yellow,
    0 0 100px yellow,
    0 0 150px yellow;
}

.message
{
    background-color: white;
    color: red;
}

.blinking{
    text-align: center;
    background-color: white;
    animation: blinkingText 0.8s infinite;
    font-weight: bolder;
    color: red;
}
@keyframes blinkingText{
    0%{     color: red;    }
    50%{    color: transparent; }
     100%{   color: red;    }
}