body {
    background-image: url("background.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
    background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

h1 {
	text-align: center;
}

.container {
	padding: 12px 24px 24px 24px;
	margin: 48px 12px;
	background: #fff8f8;
	border-radius: 4px;
}

label {
	font-size: 0.85em;
	margin-left: 12px;
}

input[type=text],input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=text]:focus,input[type=email]:focus, textarea:focus {
	border: 1px solid green;
}

.center {
	text-align: center;
}

#heading{
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    color: darkgreen;
    letter-spacing: 0.15em;
    text-shadow:
    0 0 5px yellow,
    0 0 10px yellow,
    0 0 20px yellow,
    0 0 40px yellow,
    0 0 80px yellow,
    0 0 90px yellow,
    0 0 100px yellow,
    0 0 150px yellow;
}

input.btn[type="submit"] {
  background: #6498fe;
  border:none;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 3px;
  margin: 5px 0;
  outline: medium none;
  overflow: hidden;
  padding: 10px;
  text-transform: uppercase;
  transition: all 0.15s ease-in-out 0s;
  width: 200px;
  box-shadow: 0 1px 2px 0px rgba(0,0,0,0.16), 0 1px 2px 0px rgba(0,0,0,0.23);
}
input.btn[type="submit"]:hover {
  background: #4b81eb;
  box-shadow: 0 2px 4px 0px rgba(0,0,0,0.16), 0 2px 4px 0px rgba(0,0,0,0.23);
}

.head {
  color: #fff;
  font-size: 34px;
  font-weight: normal;
  padding: 1px 0;
  text-align: center;
  text-transform: uppercase;
  background: #8dbfff;
}