body
{
    text-align: center;
}
    body, html {
  margin: 0;
    background-image: url("background.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
p
{
    font-size: 20pt;
    white-space: pre-wrap;
    color: red;
}

.topCell
{
    background-color: violet;
}

.midCell
{
    background-color: powderblue;
}

.midCell2
{
    background-color: pink;
}

th{
    height: 25px;
    width: 500px;
}

table,td {
    background-color: white;
    border: 1px solid black;
     margin-left: auto;
    margin-right: auto;
    height: 70px;
    width: 500px;
}
.test{
    animation: test 2s;
}
@keyframes test
{
     0%   {color:transparent; height: 0px; width: 0px}
  100% {background-color:white;  height: 70px; width: 500px}
}
#heading{
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    color: darkgreen;
    letter-spacing: 0.15em;
    text-shadow:
    0 0 5px yellow,
    0 0 10px yellow,
    0 0 20px yellow,
    0 0 40px yellow,
    0 0 80px yellow,
    0 0 90px yellow,
    0 0 100px yellow,
    0 0 150px yellow;
}

@keyframes change {
    0%{ text-shadow:
    0 0 5px yellow,
    0 0 10px yellow,
    0 0 20px yellow,
    0 0 40px yellow,
    0 0 80px yellow,
    0 0 90px yellow,
    0 0 100px yellow,
    0 0 150px yellow;}
    25%{text-shadow:
    0 0 5px red,
    0 0 10px red,
    0 0 20px red,
    0 0 40px red,
    0 0 80px red,
    0 0 90px red,
    0 0 100px red,
    0 0 150px red;}
    50%{text-shadow:
    0 0 5px blue,
    0 0 10px blue,
    0 0 20px blue,
    0 0 40px blue,
    0 0 80px blue,
    0 0 90px blue,
    0 0 100px blue,
    0 0 150px blue;}
    75%{text-shadow:
    0 0 5px green,
    0 0 10px green,
    0 0 20px green,
    0 0 40px green,
    0 0 80px green,
    0 0 90px green,
    0 0 100px green,
    0 0 150px green;}
    100%{ text-shadow:
    0 0 5px yellow,
    0 0 10px yellow,
    0 0 20px yellow,
    0 0 40px yellow,
    0 0 80px yellow,
    0 0 90px yellow,
    0 0 100px yellow,
    0 0 150px yellow;}
}